* {
    transition: background-color 1.5s, color 1.5s;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
:root{
    --cor-header_footer:#c08856 ;
    --cor-menu-lateral:#a0714f;
    --cor-saibamais:#6a3a20;
    --cor-texto:#fff;
    --cor-body: rgba(206, 167, 140, 0.658);
}
header{
    position: relative;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--cor-header_footer);
    align-items: center;
    padding: 15px ;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.titulo{
    text-align: center;
    grid-column: 6/8;
    color: var(--cor-texto);
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.menu{
    grid-column: 1/2;
    background-color: transparent;
    color: var(--cor-texto);
    transition: 0.3s;
}

#menu:hover{
    background-color:var(--cor-texto);
    color: var(--cor-header_footer)
}

#login{
    grid-column: 12/13;
    background-color: transparent;
    color: var(--cor-texto);
    justify-self: center;
    transition: 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#login:hover{
    background-color: var(--cor-texto);
    color: var(--cor-header_footer)
}



#tema:hover{
    background-color: var(--cor-texto);
    color: var(--cor-header_footer)
}

.saibamais {
    color: var(--cor-saibamais);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background-color: var(--cor-body);
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    flex: 1;
    overflow: hidden;
}

.carousel,
.carousel-inner,
.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fundo_cinza-login{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 601;
    background-color: rgba(49, 47, 47,0.5);
}
    
.form-login{
    display:flex;
    position: relative;
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-header_footer);

}

.x{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--cor-texto);
    background-color: transparent;
    border: none;
    font-size: 40px;
}

.usuario{
    position: absolute;
    top: 200px;
    background-color: transparent;
    width: 70%;
    height: 10%;
    border-color: var(--cor-texto);
    border-radius: 25px;
    border-style: solid;
}

.usuario::placeholder{
    font-family: Georgia;
    padding-left: 10px;
    color: var(--cor-texto);
}

.senha{
    position: absolute;
    background-color: transparent;
    top: 300px;
    width: 70%;
    height: 10%;
    border-color: var(--cor-texto);
    border-radius: 25px;
    border-style: solid;
}

.senha::placeholder{
    font-family: Georgia;
    padding-left: 10px;
    color: var(--cor-texto);
}

.login{
    position: absolute;
    top: 400px;
    width: 70%;
    height: 10%;
    font-family: Georgia;
    background-color: transparent;
    color:var(--cor-texto);
    border-color: var(--cor-texto);
    border-radius: 25px;
    border-style: solid;
}

.login:hover{
    background-color: var(--cor-texto);
    color: var(--cor-saibamais);
    border-color: var(--cor-saibamais);
    border-radius:25px;
}

.titulo-form{
    position: absolute;
    font-family: Georgia;
    top: 0;
}

.desc-form{
    position: absolute;
    top: 100px;
    font-family: Georgia;
}

.texto-cad{
    position: absolute;
    top: 500px;
    font-family: Georgia;
    color: var(--cor-texto);
}

.link-cad{
    position: absolute;
    top: 550px;
    font-family: Georgia;
    color: var(--cor-saibamais);
    font-size: 20px;
    text-decoration: none;
}

footer {
    background-color: var(--cor-header_footer);
    color: var(--cor-texto);
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 768px) {
    .carousel,
.carousel-inner,
.carousel-item {
    height : calc(100vh - 226px);
    }
    .carousel-item img {
    height : calc(100vh - 226px);
    }


}

