body{
    background-color: rgba(206, 167, 140, 0.658);
}

header{
    text-align: center;
    grid-column: 7/8;
    color: #fff;
    font-family: cursive;
    font-size:  30px;
    background-color: #c08856;
    padding: 15px ;
}

.card_fundo{
    background-color: beige;
}

h4, h5{
    color:#fff;
    font-family: cursive;
}

p{
    font-size: 18px;
    font-family: serif;
    color: #e9dede;
}

footer {
  background-color: #c08856;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  font-family: initial;
}
